name: tests

on:
  push:
    paths:
      - src/**
      - test/**

  pull_request:

  workflow_dispatch:

jobs:
  run-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-13 ]
        python: [ '3.10', '3.11', '3.12' ]

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python }}
        allow-prereleases: true

    - name: install dependencies
      run: |
        python3 -m pip install pytest pytest-asyncio pytest-mock hypothesis
        python3 -m pip install .

    - name: run tests
      run: |
        python3 -m pytest
